
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #0e2149;
    background-color: white;
    font-size: 22px;
    text-align: center; 
}

/* Adjust Flex Containers Here */

/* Header Section */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 120px;
    background-color: white;
    
}

header img {
    height: 100px;
    width: 300px;
    margin: 5px;
}

nav {
    margin: 10px;

}

span {
    display: inline-block;
    background-color: #0e2149;
    font-size: 20px;
    width: 150px;
    padding: 10px;
    color: white;
    transition: background-color 1s ease-in-out;
    border-radius: 10px;
    border: white solid 2px;
}

nav span:hover {
    background-color: black;
}
a:visited {
    color: white;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

/* Main Section */

#control {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.main {
    display: block;
    justify-content: center;
    
}

.logo {
    height: 700px;
    width: 100%;
    padding-top: 60px;
    background: url("../Images/Main\ Image.png") center no-repeat;
    background-size: 100%;
}

.welcome {
    text-align: center;
    height: 10%;
    padding: 2% 15%;
    
}
b {
    font-size: 30px;
}

/* Main Services Section */

.services {
    display: flex;
    background-color: #0e2149;
    width:100%;
}

.service {
    padding: 20px;
    width: 100%;
    min-width: 20%;
    color: white;
    border: 2px solid white;
    text-align: c
}

@media only screen and (max-width: 768px) {
    
    .services{
        display: block;
    }

    .service {
        margin: 0;
        padding: 20px 0px 20px 0px;
        font-size: 80%;
    }

    h2 {
        margin: 0;
    }

@media only screen and (max-width: 250px) {

    #control {
        display: block
    }
}